.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');



.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
   background: #fe8c00;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #fe8c00, #f83600);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top, #fe8c00, #f83600);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer p {
  margin-bottom: .25rem;
}

/* Style that first letter! */
.first-letter {

  color: rgb(66, 135, 245);
  font-size: 55px;
  line-height: 42px;
}

/* btn.link,
btn:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

btn:hover,
btn:active {
  background-color: red;
} */

.navbar-toggler.blob {

    /* background: black;
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px; */

    box-shadow: 0 0 0 0 rgb(248, 248, 248);
    transform: scale(1);
    animation: pulse 2s infinite;

}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

a.linktotop{

  font-weight: 700;
  /* text-decoration: underline; */
  color:rgb(231, 54, 0);
  text-transform: lowercase;
  font-style:italic;
  background-color: #f9fc37;  
  padding: 1px;

}

.titleColor{

  color:rgb(255, 255, 255);
  font-family: 'Arvo', serif;
  font-size: xx-large;
  font-weight: 700;
  text-decoration: underline; 

}

#navbarHeader {
  background: #fe8c00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f83600, #fe8c00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f83600, #fe8c00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

 .navbar {
  background: #fe8c00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fe8c00, #f83600);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fe8c00, #f83600);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



